<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>FACTURA</title>
    <h1 style="font-size: 12px; color: black;">Te informamos que tu pedido ya se encuentra en preparación. A continuación encontrarás la factura del pedido realizado. Esperamos y disfrutes tu comida!!</h1>
    <div class="container">
      <h1 style="color: white;">RESUMEN DE COMPRA</h1>
      <div class="row">
        <div class="col">
          <table class="table table-dark" style=" text-align: center; border: 1px; border-style: solid; border-color: black;">
            <thead>
              <tr style="border: 1px; border-style: solid; border-color: black;">
                <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">FECHA Y HORA</th>
                <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">PRECIO TOTAL</th>
                <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">DATOS DEL CLIENTE</th>
              </tr>
            </thead>
            {% for date in facturaData1 %}
            <tbody>
              <tr style=" text-align: center; border: 1px; border-style: solid; border-color: black;">
                <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date['fechaHora']}}</td>
                <td style="text-align: center; font-size: 15px; border: 1px; border-style: solid; border-color: black;" >{{date['precio_total']}}</td>
                <td>
                  <table>
                    <thead>
                      <th style="margin: auto; text-align: center; border: 1px; border-style: solid; border-color: black;">Nombre</th>
                      <th style="margin: auto; text-align: center; border: 1px; border-style: solid; border-color: black;">Documento</th>
                      <th style="margin: auto; text-align: center; border: 1px; border-style: solid; border-color: black;">Teléfono</th>
                    </thead>
                    <tbody>
                      {% for date2 in date['cliente'] %}
                      <tr style=" text-align: center; border: 1px; border-style: solid; border-color: black;">
                        <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date2['nombre']}}</td>
                        <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date2['documento']}}</td>
                        <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date2['telefono']}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              </tr>
              <br>
              <br>
              <tr style="text-align: center; border: 1px; border-style: solid; border-color: black;">
                <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">DATOS DEL PEDIDO</th>
              </tr>
              <tr style="text-align: center; border: 1px; border-style: solid; border-color: black;">
                <td>
                  <table style="text-align: center; border: 1px; border-style: solid; border-color: black;">
                    <thead >
                      <tr style="text-align: center; border: 1px; border-style: solid; border-color: black;">
                        <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">Platillo</th>
                        <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">Cantidad por unidad</th>
                        <th style="margin: auto; text-align: center; border: 1px; border-style: solid; border-color: black;">Información platillo</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for date3 in date['detalle_pedido'] %}
                      <tr style="text-align: center; border: 1px; border-style: solid; border-color: black;">
                        <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date3['id_platillo']}}</td>
                        <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date3['platillo_cantidad']}}</td>
                        <td>
                          <table>
                            <thead>
                              <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">Platillo</th>
                              <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">Descripción</th>
                              <th style="text-align: center; border: 1px; border-style: solid; border-color: black;">Precio</th>

                            </thead>
                            <tbody>
                              {% for date4 in date3['detalle_platillo'] %}
                              <tr style="text-align: center; border: 1px; border-style: solid; border-color: black;">
                                <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date4['platillo']}}</td>
                                <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date4['descripcion']}}</td>
                                <td style="text-align: center; border: 1px; border-style: solid; border-color: black;">{{date4['precio_unitario']}}</td>

                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            {% endfor%}
          </table>
          <p style="color: gray; font-size: 10px;"> Todos los derechos reservados de COMAPP - HELLO WORLD</p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>