<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>

    <table>
        <tr>
            <td><b><h1>El gerente <i>({{nombre}})</i> del restaurante desea contactarse contigo, a continuacion encontraras la peticion deseada por el cliente</h1></b></td>
        </tr>
        <tr>
            <td><h2><p>{{descripcion}}</p></h2></td>
        </tr>
        <tr>
            <td><h3><p>Por favor solucionar esto lo antes posible y ponerse en contacto con el gerente mediante el correo {{correo}} o al telefono {{telefono}}<br><br><br><br></p></h3></td>
        </tr>
        <tr>
            <td><p style="color: gray; font-size: 10px;"> Todos los derechos reservados de COMAPP - HELLO WORLD</p></td>
        </tr>
    </table>
    
</body>
</html>